.text-area {
	-fx-background-color : gold;
}

.textarea .scroll-pane {
	-fx-background-color : transparent;
}

.textarea .scroll-pane .viewport{
	-fx-background-color : transparent;
}

.texr-area .scroll-pane .content {
	-fx-background-color : transparent;
}